[Desktop Entry]
Type=Application
Name=Toggle Service
GenericName=User Services
Comment=Configure Service Settings
Exec=uwsm-app -- kitty --class service_toggle.sh -e /home/dusk/user_scripts/services/service_toggle.sh
Terminal=false
Categories=Settings;System;
Keywords=idle;lock;sleep;timeout;
Icon=preferences-system-power
StartupNotify=true
